Application/ApprovalTests.Web/ApprovalTests.Web/bin/
Application/ApprovalTests.Web/ApprovalTests.Web/obj/
Application/ApprovalTests.Web/ApprovalTests.Web/Tests/bin/
Application/ApprovalTests.Web/ApprovalTests.Web/Tests/obj/