<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.10" targetFramework="net451" />
  <package id="ApprovalUtilities" version="3.0.10" targetFramework="net451" />
  <package id="AutoFixture" version="3.38.1" targetFramework="net451" />
  <package id="AutoFixture.AutoMoq" version="3.38.1" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="RazorGenerator.Testing" version="2.3.4" targetFramework="net451" />
  <package id="ReflectionMagic" version="2.0.0" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
</packages>